html { overflow: hidden; }

body {
	font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
	font-size: 14px;
	line-height: 1em;
	overflow: hidden;
}

/* Links */
a { transition: all 0.12s ease-in-out; }

/* Buttons */
.button {
	display: inline-block;
	padding: 0.5em 0.9em;
	border: 1px solid #d5d5d5;
	border-radius: 0.35em;
	color: #777;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.12s ease-in-out;

	&:hover {
		color: #333;
		border-color: #aaa;
	}
	&:active {
		position: relative;
		top: 1px;
	}

	&.with-icon {
		padding-left: 30px;
		position: relative;

		i {
			position: absolute;
			left: 8px;
			width: 16px;
			text-align: center;
			top: 50%;
			margin-top: -0.5em;
		}
	}
}

.hide { display: none !important; }

button.unstyled {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	background: none;
	border: none;
	font-size: 1em;
}
button.unstyled::-moz-focus-inner {
    padding: 0;
    border: 0;
}

[data-tooltip] {
	position: relative !important;

	&:before {
		opacity: 0;
		display: block;
		content: attr(title);
		padding: 0.3em 0.5em;
		background: #333;
		color: #fff;
		border-radius: 4px;
		left: 100%;
		top: 50%;
		margin-top: -10px;
		font-size: 0.9em;
		transition: all 0.12s ease-in-out;
		z-index: 30;
		position: absolute;
		white-space: nowrap;
		pointer-events: none;
		transform: scale(0);
		transform-origin: left;
	}

	&:hover:before {
		opacity: 1;
		transform: none;
	}
}

img { max-width: 100%; }

.wrapper {
	height: 100vh;
}



/* -- Accordions -- */
.accordion {
	.accordion-title {
		position: relative;
		cursor: pointer;
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	&:hover .accordion-title {
		color: #666;
		transition: all 0.12s ease-in-out;
	}

	.accordion-title:after {
		font-family: "FontAwesome";
		content: "\f0da";
		position: absolute;
		color: #ccc;
		left: 1em;
		top: 50%;
		margin-top: -0.5em;
		transition: all 0.12s ease-in-out;
	}
	.accordion-title:hover:after,
	&.opened .accordion-title:after { color: #999; }
	&.opened .accordion-title:after { content: "\f0d7"; }
}


/* --- Main UI Elements --- */
$sidebar-black: #080808;
#sidebar {
	width: 60px;
	float: left;
	position: relative;
	height: 100vh;
	background: $sidebar-black;

	#mainmenu {
		color: #fff;
		height: 100%;

		li {
			/*height: 25%;*/
			height: 70px;

			span { display: none; }
			&:after {
				cursor: pointer;
				display: block;
				width: 60px;
				height: 70px;
				line-height: 70px;
				font-family: "FontAwesome";
				content: "";
				font-size: 28px;
				text-align: center;
				color: rgba(white,0.5);
				font-weight: 300;
			}
			&:hover:after { color: rgba(white,0.8); }
			&.active:after { color: rgba(white,1); }
		}
	}
		li#mm-sendeplan:after { content: "\f135"; }
		li#mm-playlists:after { content: "\f135"; }
		li#mm-vod:after { content: "\f16a"; }
		li#mm-blog:after { content: "\f09e"; }
		li#mm-reddit:after { content: "\f281"; }
		li#mm-communities:after { content: "\f0c0"; }
		li#mm-support:after { content: "\f004"; }

		// #mm-sendeplan:after { background-image: url("../../data/assets/pictos/television_bean.svg"); }
		// #mm-sendeplan-official:after { background-image: url("../../data/assets/pictos/television_bean.svg"); }
		// #mm-shows:after,
		// #mm-playlists:after { background-image: url("../../data/assets/pictos/klappe-2.svg"); }
		// #mm-support:after { background-image: url("../../data/assets/pictos/support.svg"); }
		// #mm-communities:after { background-image: url("../../data/assets/pictos/users.svg"); }
		// #mm-vod:after { background-image: url("../../data/assets/logos/youtube-play.svg"); }
		// #mm-social:after { background-image: url("../../data/assets/pictos/comment.svg"); }
		// #mm-blog:after { background-image: url("../../data/assets/pictos/newspaper-o.svg"); }
		// #mm-reddit:after { background-image: url("../../data/assets/logos/reddit-white.svg"); }
		// #mm-settings:after { background-image: url("../../data/assets/pictos/cog.svg"); }

		#mainmenu li[data-tooltip]:before {
			background: $sidebar-black;
			margin-left: -6px;
			padding: 0.7em 0.8em;
			margin-top: -1.25em;
			white-space: nowrap;
			font-size: 1em;
			color: rgba(255,255,255,0.7);
		}
			#mainmenu li.active[data-tooltip]:before { color: #fff; }

	#bottom-menu {
		position: absolute;
		bottom: 1em;
		width: 90%;
		left: 5%;
		text-align: center;

		li {
			width: 39%;
			height: 29px;
			display: inline-block;
			background-size: contain;
			background-position: bottom;
			background-repeat: no-repeat;
			opacity: 0.14;
			cursor: pointer;
			transition: all 0.13s ease-in-out;

			span { display: none; }
			&:hover { opacity: 0.6; }
			&.active { opacity: 0.6; }
		}

		#bm-settings { background-image: url("../../data/assets/pictos/cog.svg"); }
		#bm-info {
			height: 16px !important;
			margin-bottom: 2px;
			background-image: url("../../data/assets/pictos/info-circle-white.svg");
		}
	}
}

#main {
	width: auto;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
	// #main:hover { overflow-y: scroll; }
	#main-inner {}


#loading {
	width: 200px;
	position: fixed;
	left: calc(50%);
	margin-left: -70px;
	bottom: 50%;
	margin-bottom: -1.6em;
	padding: 0.4em 1em 1em;
	box-sizing: border-box;
	background: rgba(255,255,255,0.91);
	z-index: 9999;
	border-radius: 0.4em;
	text-align: center;
	line-height: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	opacity: 0;
	transition: all 0.12s ease-in-out;
	transform: scale(0);
	color: #777;
}
	#loading.active {
		opacity: 1;
		transform: none;
	}

/*#loading-wrapper {
	width: 90px;
	bottom: 0;
	width: 100%;
	left: 0;
	position: absolute;
	overflow: hidden;
	padding-top: 10px;
	z-index: 10;
}
	#loading {
		transition: all 0.2s ease-in-out;
		position: relative;
		padding: 1.2em;
		background: rgba(255,255,255,0.9);
		box-shadow: 0 0 2px rgba(0,0,0,0.16);
		color: #777;
		text-align: center;
		bottom: 0;
		opacity: 1;
	}

	#loading.hidden {
		bottom: -4em;
		opacity: 0;
		box-shadow: none;
	}*/

/* --- Notice Bar --- */
.notice-bar {
	width: calc(100% - 60px);
	position: fixed;
	bottom: -4em;
	left: 60px;
	box-sizing: border-box;
	z-index: 12;
	background: rgba(255,255,255,0.92);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
	transition: bottom 0.14s ease-in-out;
	cursor: pointer;
}
	.notice-bar.shown {
		bottom: 0;
	}
	.notice-bar-inner {
		width: 100%;
		padding: 1em;
		position: relative;
	}
	.notice-bar-icon {
		position: absolute;
		font-size: 14px !important;
		top: 50%;
		margin-top: -0.5em;
		left: 1em;
	}
	.notice-bar-notice {
		width: auto;
		padding-left: 3em;
		overflow: hidden;
		color: #444;
	}


/* --- Windows --- */
.window,.subwindow {
	height: 2px;
	opacity: 0;
	position: absolute;
	width: 100%;
	overflow: hidden;
	background: #fdfdfd;
	transition: opacity 0.2s ease-in-out;
}

.window.active,.subwindow.active {
	height: auto;
	display: block;
	position: static;
	opacity: 1;
}

.window-header {
	z-index: 8;
	position: fixed;
	box-sizing: border-box;
}
	.window-header-inner {
		background: rgba(255,255,255,0.96);
		position: relative;
		z-index: 4;
		transition: all 0.2s ease-in-out;
	}
	.window-header:after {
		box-shadow: 0 0 0px transparent;
		transition: all 0.2s ease-in-out;
		content: "";
		display: block;
		width: 99%;
		height: 1px;
		margin: auto;
		margin-top: -2px;
		z-index: 0;
		border-radius: 100px;
	}
	.window-header.shadowed .window-header-inner {
		padding: 0;
	}
	.window-header.shadowed:after {
		box-shadow: 0 0 8px rgba(0,0,0,0.8);
	}

.window-title {
	font-size: 1.4em;
	padding: 18px 0;
	text-align: center;
	color: #444;
	border-bottom: 1px solid #e0e0e0;
}
	.window-has-menu .window-title { border: none; }
	.window .window-header.shadowed .window-title { border: none; }

.window-content {
	box-sizing: border-box;
	position: relative;
}


.window-menu {
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding-right: 18px;
	border-bottom: 1px solid #e0e0e0;
}
	.window-header.shadowed .window-menu { border: none; }

	.window-menu li {
		display: table-cell;
		text-align: center;
		padding: 0.75em 0;
		cursor: pointer;
		font-size: 0.85em;
		color: #aaa;
		transition: color 0.14s ease-in-out;
	}
		.window-menu li.active {
			color: #444 !important;
		}
		.window-menu li:hover { color: #888; }


.window .bottombar {
	width: calc(100% - 60px);
	position: fixed;
	bottom: 0;
	left: 60px;
	font-size: 0.85em;
	box-sizing: border-box;
	z-index: 10;
	background: rgba(255,255,255,0.92);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
}
	.bottombar-item-list {
		width: 100% !important;
		display: table;
	}
	.bottombar-item-list a {
		color: #777;
		text-decoration: none;
	}
	.bottombar-item-list li {
		width: 50%;
		border-right: 1px solid rgba(0,0,0,0.1);
		padding: 9px 0;
		display: table-cell;

		position: relative;
	}
		.bottombar-item-list li.with-icon { padding-left: 34px; }
		.bottombar-item-list li .item-icon {
			position: absolute;
			left: 12px;
			top: 50%;
			font-size: 1.2em;
			margin-top: -0.5em;
			color: #999;

			&.right {
				left: auto;
				right: 12px;
			}
		}
		.bottombar-item-list li:last-child { border: none; }
		.bottombar-item-list li a {
			display: block;
			margin: -9px -12px;
			padding: 9px 12px;
		}

	.window-top-button {
		font-size: 0.9em;
		overflow: hidden;
		background: #fff;
		text-align: center;
		border-bottom: 1px solid #eee;
		position: relative;
	}
		.window-top-button:after {
			position: absolute;
			content: "\f105";
			font-family: "FontAwesome";
			top: 50%;
			margin-top: -0.5em;
			right: 12px;
			color: #bbb;
		}

		.window-top-button i {
			position: absolute;
			top: 50%;
			margin-top: -0.45em;
			left: 12px;
			opacity: 0.7;
		}

		.window-top-button a {
			text-decoration: none;
			display: block;
			padding: 1em;
			color: #999;
		}
			.window-top-button a:hover { color: #444; }


	.bottom-text {
		padding: 1.5em;
		font-size: 0.85em;
		line-height: 1.35em;
		color: #808080;

	}
		.bottom-text a { color: #808080; }
		.bottom-text a:hover { color: #444; }
		.bottom-text p:not(:last-child) { margin-bottom: 0.75em; }


	.bottombar-compensation {
		display: block;
		height: 26px;
	}


/* - Lists of Posts with Title, Text, Date & Picture - */
.post-list {}
	.post-list .post {
		font-size: 0.95em;
		padding: 17px 20px;
		cursor: pointer;
		border-bottom: 1px solid #e7e7e7;
		overflow: hidden;
		transition: all 0.12s ease-in-out;
	}
		.post-list .post:nth-child(odd) {
			background: #fff;
		}

		.post-list a { text-decoration: none; }

		.post-content {
			line-height: 1.3em;
			color: #777;
			width: auto;
			display: block;
			transition: all 0.12s ease-in-out;
		}
			.post:hover .post-content { color: #4a4a4a; }

			.post-header {
				clear: both;
				overflow: hidden;
			}
				.post-title {
					margin: 0;
					padding: 0;
					/*font-size: 1.15em;*/
					line-height: 1.2em;
					color: #555;
					font-weight: bold;
				}
					.post:hover .post-title { color: #2a2a2a; }

				.post-date {
					float: none;
					margin: 0.3em 0 1em;
					color: #999;
					font-size: 0.85em;
				}
					.post:hover .post-date { color: #7f7f7f; }

		.post-pic {
			max-width: 90px;
			float: right;
			margin-left: 10px;
			opacity: 0.8;
			transition: all 0.12s ease-in-out;
		}
			article:hover .post-pic { opacity: 1; }
			.post-pic img {
				margin: 0;
				display: block;
				border-radius: 3px;
			}

		.post-link { text-decoration: none; }

/* - Post List variant for Video Lists - */
article.video {
	padding: 8px 12px 9px !important;
	overflow: hidden;
}
	.video .post-pic {
		width: 54px;
		float: left;
		margin-right: 10px;
		margin-top: 0.2em;
	}
	.video .post-pic-inner {
		width: 100%;
		height: 30px;
		border-radius: 2px;
		background-image: url("");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	}

	.video .post-date {
		float: right;
		color: #999;
		font-size: 0.85em;
	}
		.video .post:hover .post-date { color: #7f7f7f; }

	.video-info {
		width: auto;
		overflow: hidden;
	}
	.video .post-title {
		margin: 0 0 0.65em;
		font-weight: normal;
	}

	article.video a { text-decoration: none; }

.category-title {
	overflow: hidden;
}

.playlist-info {
	width: auto;
	overflow: hidden;
}
	.playlist-title, .playlist-meta { display: block; }
	.playlist-title { line-height: 1.3em; }
	.playlist-meta {
		font-size: 0.85em;
		font-weight: 500;
		opacity: 0.7;
		margin-top: 0.3em;
	}

.playlist-thumbnail {
	width: 60px;
	margin-left: 15px;
	margin-right: -20px;
	float: right;
	border-radius: 0.35em;
	position: relative;
	overflow: hidden;
	opacity: 0.7;
	transition: all 0.12s ease-in-out;
}
	.playlist-thumbnail img {
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
	}
	.playlist-thumbnail:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 5px rgba(0,0,0,0.6);
		z-index: 4;
	}
	.accordion:hover .playlist-thumbnail { opacity: 1; }

.category-title {
	border-top: 1px solid #e7e7e7;
	margin-top: 20px !important;
}


/* - Fatbox List - */
.fatbox-list {
	overflow: hidden;
	padding-top: 1px;
	padding: 10px 20px 0;
}
	.fatbox-list article {
		width:47%;
		display: block;
		box-sizing: border-box;
		border-radius: 0.5em;
		margin: 10px 0 !important;
		padding: 0 !important;
		overflow: hidden;
		height: 84px;
		clear: none !important;
		float: left !important;
		transition: all 0.08s ease-in-out;
		position: relative;
		border: none !important;
	}
		.fatbox-list article:hover {
			transform: scale(1.12);
			position: relative;
			z-index: 5;
		}
		.fatbox-list article:nth-child(even) { float: right !important; }

		.fatbox-pic {
			background-position:center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			transition: all 0.11s ease-in-out;
			background: #ccc;
		}
			article:hover .fatbox-pic {
				/*background-size: 164px !important;*/
			}
			.fatbox-pic.is-placeholder {
				background-size: 64px !important;
				background-image: url("../../data/assets/images/raketenbohne-placeholder.png");
			}
				article:hover .fatbox-pic.is-placeholder { background-size: 64px !important; }
			/*.fatbox-list article:hover .fatbox-pic { filter: url("../img/blur.svg#blur"); }*/

		.fatbox-list article .post-title {
			display: block !important;
			position: relative;
			z-index: 6;
			text-align: center;
		}
			.fatbox-list article.has-pic .post-title { display: none !important; }


/* - Link List - */
.link-list {}
	.link-list article {
		padding: 9px 12px !important;
		padding-right: 30px;
		position: relative;

		&.text {
			cursor: default;

			&, * { color: #777 !important; }
		}
	}
		.link-list article:not(.text):after {
			position: absolute;
			content: "\f105";
			font-family: "FontAwesome";
			top: 50%;
			margin-top: -0.5em;
			right: 12px;
			color: #bbb;
		}
			.link-list article:not(.text):hover:after {
				color: #888;
				transition: all 0.12s ease-in-out;
			}

	.link-list .post-icon {
		width: 30px;
		float: left;
		height: 30px;
		box-sizing: border-box;
		padding: 3px;
		opacity: 0.6;
		transition: all 0.12s ease-in-out;
	}
		.link-list article:not(.text):hover .post-icon {opacity: 0.8; }
		.link-list .post-icon img {
			width: 100%;
			max-height: 100%;
		}

	.link-list .post-info {
		width: auto;
		box-sizing: border-box;
		padding-top: 0.5em;
		padding-left: 1em;
		overflow: hidden;
	}
	.link-list .post-title {
		font-weight: normal;
		color: #777;
		transition: all 0.12s ease-in-out;
	}
		.link-list article:not(.text):hover .post-title { color: #444; }

		.link-list article.text .post-title { margin-bottom: 0.3em; }

	.link-list .post-content,
	.link-list article:not(.text):hover .post-content {
		color: #666;
		font-size: 0.85em;
		strong { font-weight: 600; }
	}

	.link-list article.text .post-content { color: #999 !important; }

.category-title {
	padding: 0.75em;
	text-align: center;
	color: #777;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid #e7e7e7;
}



/* --- Animations & Effects --- */

/* Blur Effect */
.blur {
	filter: url("../img/blur.svg#blur");
}

/* Loading Animation */
.spinner {
  margin: 15px auto;
  width: 50px;
  height: 12px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #999;
  height: 100%;
  border-radius: 2px;
  width: 4px;
  display: inline-block;
	animation: none;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

#loading:not(.active) .spinner > div {
	animation: none;
	display: none;
}

.spinner .rect2 {

  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}
