.about-page {
	text-align: center;

	a {
		color: #777;
		&:hover {
			color: #222;
		}
	}


	.about-logo {
		text-align: center;
	
		img {
			margin-top: 1em;
			max-width: 100px;
		}
	}

	.about-title {
		font-size: 2.5em;
		line-height: 1.2em;
		padding: 0.5em 0 0.25em;
	}
	.about-sub {
		font-size: 1.1em;
		line-height: 1.3em;
		margin-bottom: 1.5em;
		color: #777;
		padding: 0 1em;
	}

	.about-boxed {
		overflow: hidden;
		margin: 0 1em 2em;
		padding: 0.5em 1.5em;
		border: 1px solid #ddd;
		border-left: none;
		border-right: none;
		color: #999;
		text-align: center;
		
		a {
			color: #999;
			text-decoration: none;
		}
		strong, strong a { color: #666; }
		
		// .byline {
		// 	float: left;
		// }
		// .version {
		// 	float: right;
		// }
	}

	.about-text {
		padding: 0 2em;
		font-size: 0.9em;
		line-height: 1.35em;
		color: #444;
		text-align: left;
		
		p { margin: 0 0 1em; }
	}

	.about-links {
		margin: 2em 0 1em;
	
		.button {
			color: #888;
			
			strong { color: #666; }
		}
		
		li a {
			display: block;
			margin: 0 3em 0.5em;
			text-align: left;
		}
	}

	.about-vogel {
		margin: 2.5em 0 1em;
	
		img {
			opacity: 0.5;
			max-width: 40px;
		}
	}
}