
<section class="post-list video-list">
	<div class="accordion disabled">
		<h2 class="accordion-title category-title">
			<span class="playlist-thumbnail"><img src="" alt="" /></span>
			<span class="category-info">
				<span class="playlist-title"></span>
				<span class="playlist-meta"><span class="playlist-items-count"></span> Videos</span>
			</span>
		</h2>

		<div class="accordion-content">
			<p id="open-channel-in-new-tab" class="window-top-button"><a href=""><i class="fa fa-youtube-play"></i> <span>Channel</span> in neuem Tab öffnen</a></p>

			<article class="template post video">
				<div class="post-content">
					<a class="video-link" href="">
						<p class="post-date"></p>
						<div class="post-pic">
							<div class="post-pic-inner"></div>
						</div>
						<div class="video-info">
							<h2 class="post-title"></h2>
						</div>
					</a>
				</div>
			</article>
		</div>
	</div>
</section>