<div class="window-content about-page">
	<p class="about-logo"><a href="http://www.firebeans.de"><img src="../../data/assets/logos/firebeans-logo.png" alt="Firebeans Logo" /></a></p>
	<h2 class="about-title">Firebeans</h2>
	<p class="about-sub">Die inofizielle Firefox-Erweiterung <br/> rund um Rocket Beans TV</p>

	<div class="about-text">
		<p>Diese Firefox-Erweiterung ist kein offizielles Produkt der Rocket Beans GmbH und steht auch in keinem direkten Verhältnis zu dieser.</p>

		<p>Der in diesem Addon angezeigte Sendeplan holt seine Daten aus der <a href="http://www.reddit.com/r/rocketbeans/comments/2sjhhe/sendepl%C3%A4ne/">Sendeplan-API von Rodney</a>, basierend auf der offiziellen RBTV-API.</p>

		<p style="margin-bottom:0;font-weight:bold;">Dieses Plugin verwendet folgende Open-Source-Bibliotheken:</p>
		<ul>
			<li><a href="http://jquery.org">jQuery</a> (<a href="http://jquery.org/license">Lizenz</a>)</li>
			<li><a href="http://bluebirdjs.com">Bluebird</a> (MIT Lizenz)</li>
			<li><a href="http://momentjs.com">Moment.js</a> (MIT Lizenz)</li>
			<li><a href="http://brm.io/jquery-match-height/">jQuery matchHeight</a> (MIT Lizenz)</li>
			<li><a href="https://github.com/adobe-fonts/source-sans-pro">Source Sans Pro</a> (SIL Open Font License)</li>
			<li><a href="http://fontawesome.io">FontAwesome</a> (SIL Open Font License)</li>
		</ul>


		<p class="about-vogel" style="text-align:center"><img src="../data/assets/images/familienoberhauptvogel.png" alt="Familienoberhauptvogel" /></p>
	</div>

	<p><button id="clear-cache-trigger" class="clear-cache-trigger button">Caches leeren</button></p>

</div>
