<section class="post-list reddit-list">
	<p class="window-top-button"><a href="http://reddit.com/r/rocketbeans"><i class="fa fa-reddit"></i> Subreddit in neuem Tab öffnen</a>

	<article class="post template">
		<a class="post-link" href="">
			<p class="post-pic"></p>
			
			<div class="post-info">
				<h2 class="post-title"></h2>

				<ul class="post-meta">
					<li class="flair"></li>
					<li class="author"></li>
					<li class="upvotes"><i class="fa fa-angle-up"></i> <span></span></li>
					<li class="comments"><i class="fa fa-comments"></i> <span></span></li>
					<li class="time"><i class="fa fa-clock-o"></i> <span></span></li>
				</ul>
			</div>
		</a>
	</article>
</section>