<div class="window-content">

<div class="social-block twitter">
	<p class="social-icon"><i class="fa fa-twitter"></i></p>
	<h2>@therocketbeans</h2>
	<div class="social-text">
		<p>Der Twitter-Feed kann derzeit leider noch nicht direkt eingebunden werden.</p>
		<p><a href="http://twitter.com/therocketbeans" class="button">Twitter-Feed in neuem Tab öffnen</a></p>
	</div>
</div>

<div class="social-block facebook">
	<p class="social-icon"><i class="fa fa-facebook"></i></p>
	<h2>Rocket Beans TV</h2>
	<div class="social-text">
		<p>Die Facebook-Timeline kann derzeit leider noch nicht direkt eingebunden werden.</p>
		<p><a href="http://facebook.com/rocketbeanstv" class="button">Facebook-Profil in neuem Tab öffnen</a></p>
	</div>
</div>

</div>